
.surfice{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 5px 8px 2px rgba(151, 151, 151, 0.1);
  width: clamp(300px, 50vw, 500px);
  flex: 1; 
  padding: clamp(1rem, 4vw, 4rem);

}
.google-signup{
  display: grid;
  grid-template-columns: auto 1fr; 
  padding: 0.8em 1.5em;
  gap: 1em; 
  border: none;
  cursor: pointer;
  background-color: $border-100;
}

.surfice h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  color: $grey-500;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  
  &::before,
  &::after {
    content: "";// cant exist without en empty object
    flex: 1;
    border-top: 1px solid $border-100;
    margin: 0 10px;
  }
}

.surfice label {
    font-weight: $font-semibold;
}

.text-input{
  margin-bottom: 1em;
  padding: 1em .7em;
  border: 1px solid $border-100;
  border-radius: 14px;
  @media (max-width:768px){margin-bottom: 0em;}
}
.text-input::placeholder {

  font-weight: $font-regular;
  font-family: $font-standard;
}

.terms a {
  text-decoration: none;
  color: $blue-accent;
}

.create-account {
  margin-top: 2em;
  padding: .8rem .8rem;
  border-radius: 12px;
  border: 1px solid $white-100;
}

.already-account{
  margin-top: 4em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .4em;

  a{
    color: $blue-accent;
    text-decoration: none;
  }
}