
<div class="mini-menu-card">

    <div class="avatar-name-card">
        <img src="/Images/Tommy-Avatar.svg">
        <h4>Tommy Mattin-Lassei</h4>
    </div>

    <div class="gear-text">
        <button class="gear">
            <i class="fa-solid fa-gear"></i>
        </button>
        <span>Dark Mode</span>
        <div class="gear-text-button">
            <label class="toggle">
                <input id="mini-menu-dark-mode-toggle" type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="logout-button-text">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>

    </div>
</div>
