
@model SignUpViewModel


@{
    ViewData["Title"] = "Sign Up";
}
<div style="background-color: darkslategray; border: 1px solid #ddd; padding: 1rem; border-radius: 8px; height: 100dvh;">
    
    <form novalidate method="post" asp-controller="Authentication" asp-action="SignUp" class="surfice" style=" height: 80dvh; margin-top: 4rem;">
        <div>
            <label asp-for="FormData.FirstName"></label>
            <input asp-for="FormData.FirstName" />
            <span asp-validation-for="FormData.FirstName"></span>
        </div>

        <div>
            <label asp-for="FormData.LastName"></label>
            <input asp-for="FormData.LastName" />
            <span asp-validation-for="FormData.LastName"></span>
        </div>
        <div>
            <label asp-for="FormData.Email"></label>
            <input asp-for="FormData.Email" />
            <span asp-validation-for="FormData.Email"></span>
        </div>
        <div>
            <label asp-for="FormData.Password"></label>
            <input asp-for="FormData.Password" value="@Model?.FormData?.Password" />
            <span asp-validation-for="FormData.Password"></span>
        </div>
        <div>
            <label asp-for="FormData.ConfirmPassword"></label>
            <input asp-for="FormData.ConfirmPassword" value="@Model?.FormData?.ConfirmPassword" />
            <span asp-validation-for="FormData.ConfirmPassword"></span>
        </div>


        <select asp-for="FormData.ClientId">
                <option value="0" disabled selected>-- Select a Client --</option>
            </select>
        <span asp-validation-for="FormData.ClientId"></span>
        
           
        
        <button type="submit">Submit</button>
    </form>


</div>